* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 25px 0 50px 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
}

.titulo {
    font-family: 'Roboto Condensed', sans-serif;
}

.texto {
    font-family: 'Cabin Condensed', sans-serif;
}

h1, h2 {
    margin: 15px 0 5px 12px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    flex-grow: 1;
}

li {
    /* margin-left: 35px; */
    list-style-type: none;

    padding: 7px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
}